.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.header div {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
}

.header p {
  font-size: .875rem;
}

.header div:first-child {
  color: var(--blue-500);
}

.header div:last-child {
  color: var(--purple-500);
}

.header .badge {
  background: var(--gray-400);
  height: 1.1875rem;
  padding: 0 8px;
  border-radius: 62.4375rem;
  font-size: .75rem;
  color: var(--gray-100);
  display: flex;
  align-items: center;
}
